.container {
  width: 100%;
  height: 100vh;
  background-color: black;


}

.inner {
  position: relative;
  top: 45px;
}

.link {
  text-decoration: none;
  color: white;

  font-size: 2em;
}

.link:hover {
  /* text-decoration: underline; */
  text-shadow: 0 0 3px white;
}