.container {
  z-index: 999;
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 44px;

  background-color: rgba(128, 128, 128, 0.5);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  /* -webkit-backdrop-filter: blur(10px); */
  backdrop-filter: blur(10px);

  box-shadow: 1px 3px 5px 0 rgba(0,0,0,0.5);
}

.navBtn {
  width: 44px;
  height: 25.34px;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  /* background-color: rgba(255, 255, 255, 0.842); */
  /* opacity: 0.8; */

  cursor: pointer;

  border-radius: 10px;
}

.searchBtn {
  width: 44px;
  height: 100%;

  position: absolute;
  left: calc(50% + 176px);

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

/* NOTE: useful application of drop-shadow, filter, dropback-filter */
.navBtn > img, .searchBtn > img {
  filter: invert(1) drop-shadow(0 0 2px white);
}

/* Search Bar */

.search {
  position: absolute;
  left: calc(50% + 220px);
}

.search > input {
  outline: none;
  border: none;
  border-radius: 1em;
  padding: 2px calc(1em - 2px);

  transition: width 1s, opacity 0.8s;
  transition-timing-function: ease;

  width: 0;
  height: 24px;

  opacity: 0;
}

.search > input:focus {
  box-shadow: 0px 0px 5px white;
  opacity: 1;

  width: 176px;
}

.searchResult {
  width: 100%;
}