html {
  scroll-behavior: smooth;
}

/* ROTATION BAR */
.container {
  background-color: black;

  display: flex;
  align-items: center;

  width: 100%;
  height: 100vh;
}

.outer {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  /* perspective */
  /* -webkit-perspective: 800px;
  -moz-perspective: 800px; */
  perspective: 1200px;

  /* transition: animation of top change */
  -webkit-transition: top 0.5s;
  -moz-transition: top 0.5s;
  transition: top 0.5s;

  position: relative;
}

.inner {
  width: 120px;
  height: 360px;

  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  transition: transform 1s;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;

  -webkit-animation: photoRotate 60s linear infinite 2s; /* alternative: ease-in-out */
  animation: photoRotate 60s linear infinite 2s;

  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.selectedBio {
  box-shadow: 0px 0px 30px 0px rgba(255,255,255,0.8);
}

/* NOTE: application of NOT selector */
.inner:hover > :not(.selectedBio) :not(:hover) {
  filter: brightness(0.5);
}

.block:hover, .selectedBio {
  filter: brightness(1);
}

.block > img {
  width: 100%;
  height: 100%;

  image-rendering: pixelated;
}

.block > p {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;

  color: white;
}

/* ANIMATION */
@keyframes photoRotate {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  16.7% {
    -webkit-transform: rotateY(60deg);
    transform: rotateY(60deg);
  }
  33.3% {
    -webkit-transform: rotateY(120deg);
    transform: rotateY(120deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  66.7% {
    -webkit-transform: rotateY(240deg);
    transform: rotateY(240deg);
  }
  83.3% {
    -webkit-transform: rotateY(300deg);
    transform: rotateY(300deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

.block:hover {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state:paused;
  -o-animation-play-state:paused; 
  animation-play-state:paused;
}

/* BOTTOM PART: Bio Description */
.bioContainer {
  height: 100vh;

  display: flex;
  flex-direction: row;
}

.flex5 {
  flex-basis: 41.67%;

  display: flex;
  justify-content: center;
  align-items: center;
  
  padding-top: 75px;
}

.flex7 {
  flex-basis: 58.33%;

  display: flex;
  flex-direction: column;

  padding: 100px 100px 0 30px;
}

.bioPhoto {
  width: 300px;
  height: auto;
}

.specialty {
  font-size: 1.25em;
}

.desc {
  font-size: 1.25em;
}

/* Nav Icon */
.navContainer {
  position: fixed;
  top: 50px;
  right: 80px;

  display: flex;
  flex-direction: row;
}

.left, .right, .up {
  width: 50px;
  height: 50px;
  opacity: 0.5;
  cursor: pointer;
}

.left {
  background-color: red;
}

.right {
  background-color: blue;
}

.up {
  background-color: green;
}